/*头部样式*/
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.header-container h1 {
    color: white;
    flex-basis: 100%;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 2px;
}

/*宽于600px时的头部样式*/
@media only screen and (min-width: 600px) {

    header {
        padding: 1rem 10%;
    }

    .header-container h1 {
        flex-basis: auto;
        text-align: left;
    }
}