/*主样式*/
main {
    background-color: black;
    padding: 3% 10%;
}
.main-container h2 {
    font-size: 1.5rem;
    color: black;
    background: linear-gradient(to right, lightgray, black);
    padding: 7px;
    border-radius: 4px;
}
.main-container ul {
    width: auto;
    height: auto;
}
.main-container li {
    display: inline-block;
    margin: 10px 30px;
    padding: 5px 10px;
}

/*宽于600px时的主样式*/
@media only screen and (min-width: 600px) {
    main {
        padding: 5% 20%;
    }
}