.main-container h2 {
    color: black;
    background-color: lightgray;
    padding: 7px;
    border-radius: 4px;
}
.main-container ul {
    width: auto;
    height: auto;
}
.main-container li {
    display: inline-block;
    margin: 10px 30px;
    border: 1px black solid;
}
.main-container li:hover{
    border: 1px white solid;
    border-radius: 3px;
}

@media only screen and (min-width: 600px) {

}